.restartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 40px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 1rem;
  border-radius: 4rem;
  background-color: rgba(0, 0, 0, 0.07);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  svg {
    width: 25px;
    height: 25px;
  }
}