@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

#root {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Inria Serif", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
}


svg {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#poly {
  stroke: black;
  fill: none;
  stroke-width: 5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 24, 12, 6, 12;
}


#arrowHead {
  stroke: black;
  fill: none;
  stroke-width: 5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

marker {
  overflow: visible;
}

.filter-green {
  width: 0;
  height: 100px;
  filter: invert(0%) sepia(85%) saturate(7439%) hue-rotate(177deg) brightness(85%) contrast(113%);
  visibility: visible;
}

/**
 * Scrollbar
 */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #8294C4;
  border: solid 3px transparent;
  border-radius: 10rem;
}

::-webkit-scrollbar-track-piece:start {
  box-shadow: inset 0 0 10px 10px #DBDFEA;
  border: solid 3px transparent;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  margin-top: 30vh;
}

::-webkit-scrollbar-track-piece:end {
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  border: solid 3px transparent;
  box-shadow: inset 0 0 10px 10px #DBDFEA;
  margin-bottom: 30vh;
}


/**
 * Modal
 */

.modal-container {
  display: none;
  width: 100%;
  opacity: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  top: 0;
}

.background {
  background-color: rgba(0, 0, 0, 0.32);
  height: 100vh;
  width: 100%;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    width: 768px;
    background: azure;

    @media screen and (max-width: 640px) {
      width: 100%;
      margin: 1rem;
    }

    @media screen and (max-width: 768px) {
      width: 640px;
    }

    .header, .subheader {
      padding: 1.25rem 1.25rem 0 1.25rem;
    }

    .header {
      &.p-1 {
        padding: 1.25rem;
      }
    }

    .header, .subheader {
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: bold;
      }

      h3 {
        font-family: "Merriweather Sans", sans-serif;
        font-weight: lighter;
        font-size: 15px;
      }

      svg {
        cursor: pointer;
        width: 32px;
        height: 32px;
      }
    }

    .content {
      padding: 1.25rem;

      .description {

      }

      .infos {

      }
    }

    .footer {
      padding: 1.25rem;
      border-top: 1px solid rgba(193, 193, 193, 0.47);
      display: flex;
      justify-content: flex-end;

      &.f-between {
        justify-content: space-between;
      }
    }
  }
}

.button {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  font-size: 100%;
  cursor: pointer;
  line-height: 1.15;
  outline: none;
  padding: 12px 25px;
  position: relative;
  text-align: center;
}
